<!-- $Id: search_user.tt2 6099 2009-08-13 08:31:02Z olivier.salaun $ -->
<div class="block">
<h2> [%|loc%]User search result:[%END%]</h2>
<br/>
  [%|loc(email)%]<strong>%1</strong> is subscribed to the following mailing lists:[%END%]

[% IF which %] 
<table summary="[%|loc(email)%]Lists which %1 is subscribed [%END%]" class="listOfItems">
   <th>[%|loc%]list[%END%]
   </th>
   <th>[%|loc%]role[%END%]</span>
   </th>
   <th>[%|loc%]reception[%END%]</span>
   </th>
   <th>[%|loc%]topics[%END%]</span>
   </th>
   <th>[%|loc%]bounce[%END%]</span>
   </th>
   <th colspan="2">	    
   </th>

 [% FOREACH l = which %]

	[% IF dark == '1' %]
         [% SET dark = 0 %]
	<tr class="color4">
	[% ELSE %]
          [% SET dark = 1 %]
          <tr class="color0">
	[% END %]
        <td>
           <a href="[% path_cgi %]/info/[% l.key %]" ><strong>[% hidden_head %][% l.key %][% hidden_at %][% l.value.host %][% hidden_end %]</strong></a>
        </td>
        <td>
	   [% IF l.value.is_member %][%|loc%]member[%END%] [% END %]
	   [% IF l.value.is_owner %][%|loc%]owner[%END%] [% END %]
           [% IF l.value.is_editor %][%|loc%]editor[%END%] [% END %]
        </td>
        <td>
	[% l.value.reception %]
        </td>
        <td>
        [% l.value.topic %]
        </td>
        <td>
	[% l.value.bounce %]
        </td>
	[% IF l.value.subscribed %]
        <td> 
           <form action="[% path_cgi %]" method="post">
	  <fieldset>
           <input type="hidden" name="previous_action" value="search_user" />
	   <input type="hidden" name="email" value="[% email %]" />
	   <input type="hidden" name="list" value="[% l.key %]" />
	   <input id="quiet" type="checkbox" name="quiet" /> <label for="quiet">quiet</label>
	   <input class="MainMenuLinks" type="submit" name="action_del" value="[%|loc%]delete[%END%]" />
	  </fieldset>
	  </form>
	</td>
	<td>
	   <form action="[% path_cgi %]" method="post">
	   <fieldset>
	   <input type="hidden" name="previous_action" value="search_user" />
	   <input type="hidden" name="email" value="[% email %]" />
	   <input type="hidden" name="list" value="[% l.key %]" />
	   <input class="MainMenuLinks" type="submit" name="action_editsubscriber" value="[%|loc%]edit[%END%]" />
	   </fieldset>
	   </form>
	</td>
	[% ELSE %]
	<td colspan="2"></td>
        [% END %]
        </tr>
 [% END %] 
</table>
[% ELSE %]
<p>[%|loc%]No mailing list available.[%END%]</p>
[% END %]

</div>
<!-- end search_user.tt2 (distrib) -->
