/*** GENERAL LAYOUT ***/

/* hide silly things */
div#Title, div#top {display: none;}
fieldset {border: 0; padding: 0;}

/* make menus a left sidebar */
#Menus {
  float: left;
  width: 240px;
  border: 1px solid white; /* seems to help align with stretcher */
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

/* give space for the sidebar menu */
#Stretcher {
  margin-left: 251px; /* 1 px overlap with #Menus */
  padding-left: 10px;
  border: 1px solid white; /* seems to help align with stretcher */
  border-left: 1px solid #ccc;
}

#Paint {
  vertical-align: top;
}

/*** COMMON ELEMENTS ***/

ul.plainlist, ul.plainlist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table.listOfItems {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}
table.listOfItems td {
  padding: 3px;
  border: 1px solid #fff;
}
table.listOfItems tr {
  background-color: #fafafa;
}
table.listOfItems tr.color0 {
  background-color: #eee;
}
table.listOfItems th {
  background-color: #999;
  border: 1px solid #fff;
  color: white;
  font-size: 0.85em;
}
table.listOfItems th a {
  color: white;
}
table.listOfItems th.sortby {
  background-color: #666;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}		  

/*** SIDEBAR ***/


div.menu-login {
  background: #eee;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 1em;
}
div.menu-login form {
  margin-bottom: 1em;
}
div.menu-login form label {
  font-weight: bold;
}

select#lang {
  margin-top: 2em;
}

div#Identity {
  background: #eee;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 4px;
  font-weight: bold;
  clear: right;
}
div#Identity span {
  font-weight: normal;
}

form#logout {
  padding: 0; margin: 0;
  margin-top: -1.5em;
}
input.plainlink {
  border: 0; padding: 0; margin: 0;
  display: inline;
  text-decoration: none;
  color: #551A8B;
  background: transparent;
  cursor: pointer;
  float: right;
}
input.plainlink:hover {
  background: #fff;
  text-decoration: underline;
}

div.list_panel {
  margin-bottom: 1em;
}
div.MenuBloc {
  margin-bottom: 1em;
}

/*** LIST VIEW ***/

div.listTitle {
  background: #a5cc7a url(/cssx/fadey-bg.png) repeat-x 50%;
  border: 1px solid #999;
  border-right: 0;
  border-left: 0;
  text-align: right;
  padding: 6px;
  margin: 0 -8px 1em -10px;
  color: #fff;
}
div.listTitle strong a {
  float: left;
  text-decoration: none;
  font-size: 1.4em;
  color: #fff;
}

/* your subscriptions */
/* structure: 
div.MenuBlock or div.ContentBlock
  p.text_center
    strong
      "your lists"
  ul.listenum
    li
      a.actionMenuLinks
        "admin"
      a.list_menu_links
        <list name>
      span
        <list info>
*/
div.MenuBlock p.text_center {
  margin: 0 0 0.25em 0; 
}
ul.listenum {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.listenum li {
  margin-bottom: 0.5em;
  clear: right;
}
ul.listenum li a.actionMenuLinks {
  background: #6ad;
  outline: 1px solid #666;
  border: 1px solid #9cf;
  padding: 0px 3px;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
}
ul.listenum li a.actionMenuLinks:hover {
  background: #9cf;
}
div.MenuBlock ul.listenum li a.actionMenuLinks {
  float: right;
}

/* list info */
/* structure:
div.MenuBlock
  div.list_panel
    <number of subscribers>
    span
      "Owner" or "Editor"
    <list of owners>


/* review members */

div#reviewLinks a.actionMenuLinks {
  font-weight: bold;
  padding-right: 0.5em;
}
div#reviewLinks {
  margin-bottom: 2em;
}
div#review form#memberList {
  margin: 2em 0;
}
div#review div#reviewSearch form {
  margin: 0.5em 0;
}

/* shared documents */

table.listOfItems img {
  vertical-align: middle;
}

/* list config */

div.edit_list_request_enum label {
  display: block;
  width: 15em;
  float: left;
  text-align: right;
  clear: left;
  padding-right: 1em;
}

div.line {
  margin: 0.5em 0;
}

/* list menu */
/* structure:
div.MenuBlock
  strong.listaction
    (possible classes: <link-name>, menuLinksCurrentPage, inactive)
    ul.menuLinks
      li
        a.menuLinks (menuLinksCurrentPage)
*/
ul.menuLinks, ul.menuLinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.menuLinks li {
  margin-left: 30px;
}
ul.menuLinks li:before {
  content: "\00BB \0020"; /* >> character */
}
ul.menuLinks ul li {
  margin-left: 60px;
}
strong.listaction {
  display: block;
  font-weight: normal;
  padding-left: 4px;
  vertical-align: middle;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
strong.listaction.menuLinksCurrentPage {
  font-weight: bold;
  background: #eef;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
strong.listaction:hover {
  color: black;
  background-color: #ffd;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
strong.listaction.inactive {
  padding: 3px 0 3px 30px;
  opacity: 0.5;
}
strong.listaction.inactive:hover {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
strong.listaction a {
  text-decoration: none;
  display: block;
  padding: 3px 0 3px 26px;
}
a.menuLinksCurrentPage {
  font-weight: bold;
}
strong.listaction.suboptions a {background: url(/wwsicons/options.png) no-repeat center left;}
strong.listaction.unsubscribe a {background: url(/wwsicons/minus.png) no-repeat center left;} 
strong.listaction.subscribe a {background: url(/wwsicons/plus.png) no-repeat center left;}
strong.listaction.admin a {background: url(/wwsicons/hat.png) no-repeat center left;}
strong.listaction.info a {background: url(/wwsicons/bulb.png) no-repeat center left;}
strong.listaction.archive a {background: url(/wwsicons/calendar.png) no-repeat center left;}
strong.listaction.post a {background: url(/wwsicons/mail.png) no-repeat center left;}
strong.listaction.docs a {background: url(/wwsicons/folder.png) no-repeat center left;}
strong.listaction.members a {background: url(/wwsicons/people.png) no-repeat center left;}
strong.listaction.contact a {background: url(/wwsicons/heart.png) no-repeat center left;}
strong.listaction.rss a {background: url(/wwsicons/rss.png) no-repeat center left;}

strong.listaction.moderate {background: #fff url(/wwsicons/scissors.png) no-repeat 4px 50%;}
strong.listaction.post.inactive {background: #fff url(/wwsicons/mail.png) no-repeat 4px 50%;}
strong.listaction.docs.inactive {background: #fff url(/wwsicons/folder.png) no-repeat 4px 50%;}

/*** HOME PAGE ***/

div.small p {
  font-size: 0.85em;
}
div.homesection {
  background: #a5cc7a url(/cssx/fadey-bg.png) repeat-x 50%;
  color: #fff;
  border: 1px solid #999;
  margin-top: 1em;
  padding: 0 0 2px 4px;;
  font-weight: bold;
}div#quicktips {
  margin-top: 1em;
}
div.center {
  margin: 0 auto;
}
table#listdirectory td {
  padding: 1em;
  vertical-align: top;
}

/*** CREATE FORM ***/

table#create-form td {
  padding: 4px;
  vertical-align: top;
}
table#create-form td label {
  display: block;
  text-align: right;
}
table#create-form ul {
  list-style-type: none;
  margin: 0; padding: 0;
}

/*** MAIN MENU LINKS ***/

/* structure:
div.navBar
  ul#MainMenuLinks
    li
      a.MainMenuLinksCurrentPage or a.MainMenuLinks or form
*/

div.navBar {
  height: 22px; /* must equal to a.height + a.vertical-padding + a.border-widths */
  background: url(/cssx/grey9.png) repeat-x bottom;
}
ul#MainMenuLinks {
  list-style-type: none;
  margin: 0; padding: 0;
}
ul#MainMenuLinks li {
  float: right;
  margin: 0;
  margin: 0 0.5em;
}
ul#MainMenuLinks a, input.link {
  font-weight: bold;
  height: 20px;
  display: block;
  text-decoration: none;
  padding: 0 0.5em;
  background: #eee;
  border: 1px solid #999;
  border-bottom: 1px solid #999;
  color: #551A8B;
}
ul#MainMenuLinks a:hover, input.link:hover {
  background: #f9f9f9;
  text-decoration: underline;
}
ul#MainMenuLinks a.MainMenuLinksCurrentPage {
  color: #a00;
  background: #fff;
  border-bottom: 1px solid white;
}
input.link {
  cursor: pointer;  
  height: 22px; /* not sure why */
  font-size: 0.9em;
}

/*** FORMS ***/

table.form {
  background: #eee;
  border: 1px solid #ccc;
}
table.form td {
  padding: 5px;
}
table.form td label {
  display: block;
  text-align: right;
  font-weight: bold;
}
table.form td.submit {
  text-align: right;
}

/*** EDIT LIST CONFIG ***/

div.block, div.ErrorBlock {
  background: #eee;
  padding: 8px;
}

div.block h4 {
  margin-top: -0.01em;
}
span.edit_list_request_help {
  float: right;
}
span.default {
  float: right;
  margin-top: -1em;
}

/*** ERROR and NOTICE ***/

div#notice, div#error {
  padding: 1em;
  border: 2px dotted blue;
  background: #CAEDFF;
  margin-bottom: 1em;
  font-weight: bold;
}
div#error {
  border: 2px dotted red;
  background: #FFE1E1;
}
div#notice span, div#error span {
  display: block;
}


/*** ARCHIVE ***/

#ArcCalendar {
  margin: 10px 0;
}
#ArcCalendar table {
  border-collapse: collapse;
}
#ArcCalendar table td {
  border: 1px solid #ccc;
  padding: 0 4px;
}
td.month.current {
  background-color: #009;
}
td.month.current a {
  color: white;
}

table#navigation {
  width: 100%;
  border-collapse: collapse;
  background: #999;
  border-top: 1px solid #000;
}
table#navigation td {
  padding: 4px;
  color: white;
}
table#navigation td a {
  color: white;
}
table#navigation td#nav_thread {
  text-align: center;
}
table#navigation td#nav_paginate {
  text-align: right;
}
div#archive ul {
  list-style-type: none;
}
div#archive .block {
  background: #eee;
  border-bottom: 1px solid #ccc;
}
div#archive table.search_form {
  width: 100%;
  padding: 1em;
  background: #eee;
}
a.ArcMenuLinks img {
  border: 0;
  vertical-align: middle;
}
a.ArcMenuLinksInactive img {
  opacity: 0.5;
  border: 0;
  vertical-align: middle;
}
div#msgbody {
  padding: 1em 0;
}


