<!-- $Id: create_list_request.tt2 6219 2009-09-18 09:00:22Z david.verdin $ -->

[% PROCESS custom_creation_policy.tt2 -%]

<div class="block">

[% IF 0 && get_which_owner.size > 0 %]
  <h2>[%|loc%]Copy an existing list.[%END%]</h2>
<br />

  [%|loc%]You can create a list, using an existing list as a template; the list configuration of the source list will be copied to create the new one. Note that neither list members, nor archives or shared documents are duplicated. The source lists you can use are limited to lists you own.[%END%]
  [%|loc%]After the list is created, you will be able to adjust it's configuration.[%END%] <br />
  <form action="[% path_cgi %]" method="post">
  <fieldset>
  <select name="list">
  [% FOREACH l = get_which_owner %]
     <option value="[% l.name %]">[% l.name %]</option>
  [% END %]
  </select>
  <label for="new_listname">[%|loc%]New list name:[%END%]</label> <input id="new_listname" name="new_listname" value="" />
  <input type="hidden" name="new_robot" value=[%robot%] />
  <input class="MainMenuLinks" type="submit" name="action_copy_list" value="[%|loc%]copy list configuration[%END%]" />
  </fieldset>
  </form>
[% END %]


<h2>[%|loc%]Create a list using a template[%END%] <a class="input" href="[% path_cgi %]/nomenu/help/admin#create_list" title="[%|loc%]Open in a new window[%END%]" onclick="window.open('','wws_help','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=400,height=200')" target="wws_help">[%|loc%]Help[%END%]</a></h2>
<br />
[%|loc%]You can request a new list creation with the following form.You will have to choose a list template that will preset most of the list parameters according to the list usage you plan. [%END%]
[%|loc%]After the list is created, you will be able to adjust it's configuration.[%END%] <br />
<form action="[% path_cgi %]" method="post">
<fieldset>

  <img src="[% icons_url %]/unknown.png" alt="[%|loc%]Help[%END%]" title="[%|loc%]the list name; be careful, not its address![%END%]" />
  <label for="listname"><strong>[%|loc%]List name:[%END%]</strong></label>
    <input type="text" id="listname" name="listname" size="30" value="[% saved.listname %]" />
    <br />

  <img src="[% icons_url %]/unknown.png" alt="[%|loc%]Help[%END%]" title="[%|loc%]You are the privileged owner of this list[%END%]" />
  <strong>[%|loc%]Owner:[%END%]</strong>
    <em>[% user.email %]</em><br />
    
  <img src="[% icons_url %]/unknown.png" alt="[%|loc%]Help[%END%]" title="[%|loc%]The list type is a set of parameters' profile. Parameters will be editable, once the list created[%END%]" />
  <label for="list_type" ><strong>[%|loc%]List type:[%END%]</strong></label>
    <ul id="list_type" class="plainlist">
  [% FOREACH template = list_list_tpl %]
      [% IF template.value.comment %]
      <li>
        <dl>
        <dt><input type="radio" name="template" value="[% template.key %]"
     [% IF template.value.selected || loop.size == 1  %]
       checked="checked"
     [% END %]
        /> <strong>[% template.key %]</strong></dt>
        <dd>[% PROCESS $template.value.comment %]</dd>
     </dl>
     </li>
     [% ELSE %]
     <li>
        <input type="radio" name="template" value="[% template.key %]"
     [% IF template.value.selected %]
       checked="checked"
     [% END %]
       /> [% template.key %]</dt>
     </dl>
     </li>
     [% END %]
  [% END %]
     </ul>
     <br />

  <img src="[% icons_url %]/unknown.png" alt="[%|loc%]Help[%END%]" title="[%|loc%]The list's subject[%END%]" /> 
  <label for="subject"><strong>[%|loc%]Subject:[%END%]</strong></label>
    <input type="text" name="subject" id="subject" maxlength="60" size="60" value="[% saved.subject %]" />
   <br />

[% SET single_topic = "other" %]
[% FOREACH topic = list_of_topics %]
  [% IF loop.size > 1 || (topic.key && topic.key != "other") %]
    [% SET single_topic = "" %]
    [% LAST %]
  [% ELSIF topic.value.sub %]
    [% FOREACH subtopic = topic.value.sub %]
      [% SET single_topic = "" %]
      [% LAST %]
    [% END %]
  [% END %]
[% END %]
[% IF single_topic != "" %]
  <input id="topics" name="topics" type="hidden" value="[% single_topic %]" />
[% ELSE %]
  <img src="[% icons_url %]/unknown.png" alt="[%|loc%]Help[%END%]" title="[%|loc%]List classification in the directory[%END%]" />
  <label for="topics"><strong>[%|loc%]Topics:[%END%]</strong></label>
    <select id="topics" name="topics">
	<option value="">[%|loc%]--Select a topic--[%END%]</option>
	[% SET topic_other = 0 %]
	[% FOREACH topic = list_of_topics %]
	  [% IF topic.key == "other" %][% SET topic_other = 1 %][% END %]
	  <option value="[% topic.key %]"
	  [% IF topic.value.selected %]
	    selected="selected"
	  [% END %]
	  >[% topic.value.current_title %]</option>
	  [% IF topic.value.sub %]
	  [% FOREACH subtopic = topic.value.sub %]
	     <option value="[% topic.key %]/[% subtopic.key %]">[% topic.value.current_title %] / [% subtopic.value.current_title %]</option>
	  [% END %]
	  [% END %]
	[% END %]
	[% UNLESS topic_other %]
	<option value="other">[%|loc%]Other[%END%]</option>
	[% END %]
     </select>
     <br />
[% END %]

  <img class="align_top" src="[% icons_url %]/unknown.png" alt="[%|loc%]Help[%END%]" title="[%|loc%]A few lines describing the list[%END%]" />
  <label for="info" class="align_top"><strong>[%|loc%]Description:[%END%]</strong></label>
    <textarea class="desc" id="info" name="info" rows="10" cols="80">[% saved.info %]</textarea><br /><br />

  <input class="MainMenuLinks" type="submit" name="action_create_list" value="[%|loc%]Submit your creation request[%END%]" />
</fieldset>
</form>

</div>
<!-- end create_list_request.tt2 -->
