<!-- $Id: list_menu.tt2 4081 2006-12-08 16:49:44Z olivier.salaun $ -->

<!-- begin list_menu.tt2 -->

<div class="MenuBlock">
[% PROCESS 'list_panel.tt2' %]

[% IF action == 'info'%][% SET class = 'menuLinksCurrentPage' %][% ELSE %][% SET class = 'menuLinks' %][% END %]
<strong class="info listaction [%class%]"><a class="[% class %]" href="[% path_cgi %]/info/[% list %]">[%|loc%]About[%END%]</a></strong>

[% IF is_subscriber == '1' -%]
  [% IF may_suboptions == '1' -%]
      [% IF action == 'suboptions' %][% SET class = 'menuLinksCurrentPage' %][% ELSE %][% SET class = 'menuLinks' %][% END -%]
      <strong class="listaction suboptions [% class %]"><a href="[% path_cgi %]/suboptions/[% list %]" >[%|loc%]Subscriber Options[%END%]</a></strong>
  [% END -%]
  [% IF may_signoff == '1' %] 
  [% IF action == 'signoff' %][% SET class = 'menuLinksCurrentPage' %][% ELSE %][% SET class = 'menuLinks' %][% END -%]
     <strong class="listaction unsubscribe [% class %]"><a href="[% path_cgi %]/signoff/[% list %]" onclick="request_confirm_link('[% path_cgi %]/signoff/[% list %]', '[% FILTER escape_quote %][%|loc(list)%]Do you really want to unsubscribe from list %1?[%END%][%END%]'); return false;">[%|loc%]Unsubscribe[%END%]</a></strong>
  [% END -%]
[% ELSE -%]
  [% IF may_subscribe %]
     [% IF action == 'subrequest' %][% SET class = 'menuLinksCurrentPage' %][% ELSE %][% SET class = 'menuLinks' %][% END %]
         <strong class="subscribe listaction [%class%]"><a href="[% path_cgi %]/subscribe/[% list %]" onclick="request_confirm_link('[% path_cgi %]/subscribe/[% list %]', '[% FILTER escape_quote %][%|loc(list)%]Do you really want to subscribe to list %1?[%END%][%END%]'); return false;">[%|loc%]Subscribe[%END%]</a></strong>
  [% END -%]

  [% IF ! user.email %]
      [% IF action == 'signoff' %][% SET class = 'menuLinksCurrentPage' %][% ELSE %][% SET class = 'menuLinks' %][% END %]
     <strong class="unsubscribe listaction [%class%]"><a class="[% class %]" href="[% path_cgi %]/sigrequest/[% list %]">[%|loc%]Unsubscribe[%END%]</a></strong>
  [% END -%]

[% END -%]

[% PROCESS 'list_admin_menu.tt2' IF is_priv %]

[% IF is_archived %]
   [% IF arc_access %]
      [% IF action == 'archives' || action == 'arcsearch_form' || action == 'arcsearch' ||  action == 'arc_protect' || action == 'arc' %][% SET class = 'menuLinksCurrentPage' %][% ELSE %][% SET class = 'menuLinks' %][% END %]
      <strong class="archive listaction [%class%]"><a class="[% class %]" href="[% path_cgi %]/arc/[% list %]" >[%|loc%]Archive[%END%]</a></strong>
   [% ELSE %]
      <strong class="archive listaction inactive">[%|loc%]Archive[%END%]</strong>
   [% END %]
[% END %]

[% IF may_post %]
[% IF action == 'compose_mail' %][% SET class = 'menuLinksCurrentPage' %][% ELSE %][% SET class = 'menuLinks' %][% END %]
          <strong class="post listaction [%class%]"><a class="[% class %]" href="[% path_cgi %]/compose_mail/[% list %]" >[%|loc%]Post[%END%]</a></strong>
[% ELSE %]
          <strong class="post listaction inactive">[%|loc%]Post[%END%]</strong>
[% END %]

[% IF shared == 'exist' %]
    [% IF may_d_read %]
    [% IF action == 'd_read' || action == 'd_edit' || action == 'd_properties' %][% SET class = 'menuLinksCurrentPage' %][% ELSE %][% SET class = 'menuLinks' %][% END %]
        <strong class="docs listaction [%class%]"><a class="[% class %]" href="[% path_cgi %]/d_read/[% list %]/" >[%|loc%]Shared documents[%END%]</a></strong>
    [% ELSE %]
          <strong class="docs listaction inactive">[%|loc%]Shared documents[%END%]</strong>
    [% END %]
[% END %]

[% IF may_review %]
[% IF action == 'review' %][% SET class = 'menuLinksCurrentPage' %][% ELSE %][% SET class = 'menuLinks' %][% END %]
<strong class="members listaction [%class%]"><a class="[% class %]" href="[% path_cgi %]/review/[% list %]" >[%|loc%]Review members[%END%]</a></strong>
[% END -%]

[% IF protection_type == 'javascript' -%]
<strong class="contact listaction">[% hidden_head %]<a class='menuLinks' href='mailto:[% list %]-admin[% hidden_at %][% domain %]'>[%|loc%]Contact list admins[%END%]</a>[% hidden_end %]</strong>
[% ELSE -%]
<strong class="contact listaction"><a class="menuLinks" href="mailto:[% hidden_head %][% list %]-admin[% hidden_at %][% domain %][% hidden_end %]">[%|loc%]Contact list admins[%END%]</a></strong>
[% END -%]

[% IF action == 'rss_request' %][% SET class = 'menuLinksCurrentPage' %][% ELSE %][% SET class = 'menuLinks' %][% END -%]
<strong class="rss listaction [%class%]"><a class="[% class %]" href="[% path_cgi %]/rss_request/[% list %]" >[%|loc%]RSS[%END%]</a></strong>

</div>
<!-- end list_menu.tt2 -->
