[client]
user=sympa_ro
host=127.0.0.1
# use the secondary read instance
port=3308
password=<%= Puppet::Parser::Functions.function('trocla');'' %><%= scope.function_trocla(['mysql_symparo','plain']) %>
