<div id="masthead">
  <div id="riseup"></div>
  <div class="links" id="toplinks">
    <a href="http://riseup.net/">home</a>
    <a href="https://mail.riseup.net/">mail</a>
    <a href="https://lists.riseup.net/">lists</a>
    <a href="http://hosting.riseup.net/">hosting</a>
    <a href="http://help.riseup.net/lists/">help</a>
    <a href="http://riseup.net/donate/">donate</a>
    <a href="http://help.riseup.net/about-us/">about-us</a>
   </div>
</div>

